body {
    font-family: Arial, sans-serif;
    background-color: #14d942;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    margin: 15px 0;
}

#columns {
    display: flex;
    justify-content: center;
    gap: 12px;
}

/* 列 */
.slot {
    width: 70px;
    min-height: 300px;
    position: relative;
}

/* カード */
.card {
    width: 60px;
    height: 90px;
    border: 1px solid black;
    border-radius: 6px;
    position: absolute;
    left: 5px;
    top: 0;
    cursor: pointer;
    font-size: 18px;
}

/* カード番号の表示を上部に固定 */
.card span {
    position: absolute;
    top: 5px;     /* 上からの距離 */
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.card.front {
    background: white;
    color: black;
}

.card.back {
    background: #333;
    color: rgba(255,255,255,0.8); /* 透けて見える */
    cursor: default;
}



/* 選択中 */
.card.selected {
    outline: 3px solid red;
}
