body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}
h1 {
    color: #007bff;
    text-align: center;
}
p {
    margin-left: 20px;
    margin-right: 20px;
}
#field {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.card {
    width: 60px;
    height: 90px;
    border: 1px solid black;
    background: white;
    text-align: center;
    line-height: 90px;
    font-size: 20px;
}
#columns {
    display: flex;
    justify-content: center; /* 中央寄せ */
    gap: 10px;
    margin-top: 20px;
}

.slot {
    width: 70px;
    height: 100px;
    border: 2px dashed #555; /* 枠だけ */
    background-color: transparent;
}