body {
    font-family: Arial, sans-serif;
    background-color: #14d942;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    margin: 15px 0;
}

#columns {
    display: flex;
    justify-content: center;
    gap: 12px;
}

/* 列 */
.slot {
    width: 70px;
    min-height: 300px;
    position: relative;
}

/* カード */
.card {
    width: 60px;
    height: 90px;
    border: 1px solid black;
    border-radius: 6px;
    position: absolute;
    left: 5px;
    text-align: center;
    line-height: 90px;
    font-size: 18px;
    cursor: pointer;
}

.card.front {
    background: white;
}

.card.back {
    background: #333;
    color: rgba(255, 255, 255, 0.3); /* 薄い白で番号を見せる */
    cursor: default;
}


/* 選択中 */
.card.selected {
    outline: 3px solid red;
}
